// sizing icons
// -------------------------

// literal magnification scale
@for $i from 1 through 10 {
  .#{$ms-Icon-css-prefix}-#{$i}x {
    font-size: $i * 1em;
  }
}

// step-based scale (with alignment)
@each $size, $value in $ms-Icon-sizes {
  .#{$ms-Icon-css-prefix}-#{$size} {
     @include ms-Icon-size($value);
  }
}
